name: CI

on: 
    push:
    pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Run wispmark
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install iftop net-tools

      - name: Run Wispmark
        run: bash wispmark.sh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: wispmark-results
          path: wispmark-results.md